@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, .container-fluid, .row {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5c8ac;
}

header {
  background-color: #414833;
}

.imgpesta {
  border-radius: 50%;
}

.navegador {
  background-color: #582f0e;
  padding: 5px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.navegador ul {
  list-style: none;
  display: flex;
  margin: 10px;
  align-items: center;
}
.navegador ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-items: center;
  margin: 10px;
}
.navegador .divLogoNav {
  height: 70px;
  width: 70px;
  padding: 3px;
}
.navegador .divLogoNav .logoNav {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.navegador .fa-bars {
  display: none;
}

@media (max-width: 768px) {
  .navegador ul {
    position: fixed;
    background-color: #5e452d;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    transition: 0.5s;
    margin: 0;
    padding: 10px;
    top: 0;
    right: -400px;
    z-index: 6;
  }
  .navegador ul:hover {
    right: 0;
  }
  .navegador li {
    padding: 5px;
    text-decoration: underline;
  }
  .navegador .fa-bars {
    display: block;
    align-self: center;
    color: white;
    font-size: 32px;
    justify-content: end;
    margin: 20px;
  }
  .navegador .fa-bars:hover + ul {
    right: 0;
  }
}
.footer {
  background-color: #414833;
  font-family: "Lato", sans-serif;
}
.footer ul {
  display: flex;
  padding: 10px;
  margin: 10px;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0;
}
.footer ul li a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.titulos {
  text-align: center;
  color: black;
  margin: 5px;
  text-decoration: underline;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.textoInicio {
  border-radius: 5px;
  background-color: #936639;
  width: 96%;
  padding: 15px;
  margin: 15px 2%;
  font-family: "Lato", sans-serif;
  color: black;
}
.textoInicio h3 {
  text-align: center;
  font-size: 22px;
}
.textoInicio p {
  text-align: justify;
  text-align: center;
  margin: 15px;
}
.textoInicio p span {
  color: #490101;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-transform: uppercase;
}

.imagenIndex {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}
.imagenIndex img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.tarjetasTostado {
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  color: black;
}

.contenedorCarousel {
  position: relative;
  padding: 10px;
}
.contenedorCarousel .carousel .carousel-control-next-icon, .contenedorCarousel .carousel .carousel-control-prev-icon {
  background-color: #5e452d;
  border-radius: 5px;
  position: relative;
}
.contenedorCarousel .carousel .carousel-control-next-icon {
  right: 5px;
}
.contenedorCarousel .carousel .carousel-control-prev-icon {
  left: 5px;
}
.contenedorCarousel .carousel .carousel-inner .carousel-item {
  position: relative;
}
.contenedorCarousel .carousel .carousel-inner .carousel-item h6 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #634f08;
}
.contenedorCarousel .tituloCarousel {
  position: absolute;
  z-index: 10;
  top: 50px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1.5px #000000;
}
.contenedorCarousel .tituloCarousel p {
  font-size: 18px;
}

.formulario {
  background-color: #a68a64;
  width: 95%;
  border: 3px #582f0e;
  border-style: solid;
  margin: 40px auto;
  display: grid;
  font-family: "Lato", sans-serif;
  padding: 10px;
  color: black;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "compragranos compragranos" "nombre       apellido" "sexo         edad" "email        direccion" "mensaje      mensaje" "variedad     variedad" "terms        vaciar" "enviar       enviar";
}
.formulario h2 {
  grid-area: compragranos;
  padding: 10px;
  text-align: start;
  margin: 10px;
  font-size: 26px;
}
.formulario label:nth-child(2) {
  grid-area: nombre;
}
.formulario label:nth-child(3) {
  grid-area: apellido;
}
.formulario fieldset:nth-child(4) {
  grid-area: sexo;
}
.formulario label:nth-child(5) {
  grid-area: edad;
}
.formulario label:nth-child(6) {
  grid-area: email;
}
.formulario label:nth-child(7) {
  grid-area: direccion;
}
.formulario label:nth-child(8) {
  grid-area: mensaje;
}
.formulario label:nth-child(9) {
  grid-area: variedad;
}
.formulario label:nth-child(10) {
  grid-area: terms;
}
.formulario input:nth-child(11) {
  grid-area: vaciar;
}
.formulario input:nth-child(12) {
  grid-area: enviar;
}
.formulario label {
  display: flex;
  margin: 10px;
  flex-direction: column;
}
.formulario label input, .formulario label textarea, .formulario label select {
  border: none;
  border-bottom: solid black;
  background-color: #a68a64;
  color: white;
  padding: 10px;
}
.formulario fieldset label {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.formulario input {
  background-color: rgb(119, 106, 60);
  border: solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
}
.formulario textarea {
  font-size: 16px;
}
.formulario select {
  font-size: 16px;
}
.formulario .vaciar {
  font-size: 14px;
  background-color: #a4937b;
  border: solid 1px;
  width: 130px;
  align-self: center;
  justify-self: end;
}
.formulario .acepto {
  display: block;
}

@media (max-width: 915px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-areas: "compragranos" "nombre" "apellido" "sexo" "edad" "email" "direccion" "mensaje" "variedad" "terms" "vaciar" "enviar";
  }
}
.tarjetasCultivo {
  height: 200px;
  background-color: rgb(214, 209, 202);
  padding: 10px;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  color: black;
}

/*@mixin tarjetasmetodos {
    background-color: $bg-color-header;
    border-radius: 5px;
}

.tarjetasmetodos{
    @include tarjetasmetodos(
        background-color
        border-radius
    )
} */
.tarjetasMetodos {
  background-color: rgb(150, 148, 134);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: black;
}
.tarjetasMetodos .imgMet1 {
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
  object-fit: contain;
}
.tarjetasMetodos .imgMet1 img {
  opacity: 70%;
}
.tarjetasMetodos .imgMet2 {
  margin: 10px;
  height: 500px;
  object-fit: fill;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
