.formulario{
    background-color: #a68a64 ;
    width: 95%;
    border: 3px #582f0e;
    border-style: solid;
    margin: 40px auto;
    display: grid;
    font-family: $fuente;
    padding: 10px;
    color: $txt-color;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "compragranos compragranos"
                         "nombre       apellido"
                         "sexo         edad"
                         "email        direccion"
                         "mensaje      mensaje"
                         "variedad     variedad"
                         "terms        vaciar"
                         "enviar       enviar";
                         h2{
                            grid-area: compragranos;
                            padding: 10px;
                            text-align: start;
                            margin: 10px;
                            font-size: 26px;
                        }
                        label:nth-child(2){
                            grid-area: nombre;
                        }
                        label:nth-child(3){
                            grid-area: apellido;
                        }
                        fieldset:nth-child(4){
                            grid-area: sexo;
                        }
                        label:nth-child(5){
                            grid-area: edad;
                        }
                        label:nth-child(6){
                            grid-area: email;
                        }
                        label:nth-child(7){
                            grid-area: direccion;
                        }
                        label:nth-child(8){
                            grid-area: mensaje;
                        }
                        label:nth-child(9){
                            grid-area: variedad;
                        }
                        label:nth-child(10){
                            grid-area: terms;  
                        }
                        input:nth-child(11){
                            grid-area: vaciar;
                        }
                        input:nth-child(12){
                            grid-area: enviar;
                        }
                        label{
                            display: flex;
                            margin: 10px;
                            flex-direction: column;
                            input, textarea, select{
                                border: none;
                                border-bottom: solid black;
                                background-color:#a68a64 ;
                                color: white;
                                padding: 10px;
                            }
                        }
                        fieldset label{
                            align-items: center;
                            border: none;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                        }
                        input{
                            background-color: rgb(119, 106, 60);
                            border: solid;
                            border-radius: 5px;
                            font-size: 16px;
                            padding: 15px;
                        }
                        textarea{
                            font-size: 16px;
                        }
                        select{
                            font-size: 16px;
                        }
                        .vaciar{
                            font-size: 14px;
                            background-color:#a4937b ;
                            border: solid 1px ;
                            width: 130px;
                            align-self: center;
                            justify-self: end;
                        }
                        .acepto{
                            display: block;
                         }
}
@media(max-width:915px){
    .formulario{
        grid-template-columns:1fr;
        grid-template-areas: "compragranos"
                             "nombre"       
                             "apellido"
                             "sexo"         
                             "edad"
                             "email"        
                             "direccion"
                             "mensaje"   
                             "variedad"     
                             "terms"        
                             "vaciar"
                             "enviar";
    }
}
