.tarjetasCultivo{
    height: 150px;
    background-color: rgb(214, 209, 202);
    padding: 10px;
    padding-top: 20px;
    font-family: $fuente;
    color: $txt-color;
    background-color:rgb(150, 148, 134);
    border-radius: 10px;
}
@media (max-width: 900px){
    .tarjetasCultivo{
        height: 200px;
    }
}
