
.metodosIntro{
    @include tarjetasMetPrincipios ( 3px, 10px, 15px);
    .imgMet1{
        overflow: hidden;
        height: 200px;
        margin-bottom: 10px;
        object-fit: contain;
        img{
            opacity: 70%;
        }
    }
}
.tarjetasMetodos{
    @include tarjetasMetPrincipios ( 5px, 15px, 10px);
    height: 740px;
    .imgMet2, .imgMet3, .imgMet4{
        margin: 10px;
        height: 340px;
        object-fit: cover;
        overflow: hidden;
    }
}   

