.titulos{
    text-align: center;
    color: black;
    margin: 5px;
    text-decoration: underline;
    padding: 10px;
    font-family: $fuente;
    text-shadow: $sombra;
}
main div h2{
    font-family: $fuente;
}